.button{
    font-weight: bold;
    padding: 20px;
    margin: 0px;
    cursor: pointer;
    border: 2px solid rgba(0, 0, 0, 0.988);
    border-radius: 7px;
}

.clear{
    width: 15vw;
}
button:hover{
    background-color: aquamarine;
}