@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,457;1,457&display=swap');



.text-centre {
    background-color: aqua;
    text-align: center;
    display: inline;
    font-family:"Roboto Condensed";
    font-weight: 500;
}


.bg-red {
    border: 2px solid red ;
    background-color: rgb(173, 78, 236);
}

.mx-auto {
    margin: auto;
    max-width: 17vw;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row {
    margin: 5px 5px 2px;
}

.h1 {
    text-align: center;
    margin: 20px;

}

.input {
    margin: 10px;



}

#sol {
    width: 15vw;
    border-radius: 5px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    cursor: pointer;

}

